a {color: teal; text-decoration: none;}

header {
    height: 120px;
    border-bottom: 2px brown solid;
}

h1 {
    text-align: center;
    color: brown;
    padding: 30px 0 0 0;
    font-size: 50px;
    line-height: 50px;
    font-family: Helvetica;
}

input {font-size: 10pt;}
input[type="date"] {width: 120px;}
input[type="time"] {width: 70px;}
input[type="number"] {width: 70px;}

table {
    border: 1px solid gray;
    margin: 20px auto;
}

tr {
    min-height: 20px;
}
tr:nth-child(2n+3) {
    background: rgba(100,0,0,0.1);
}

td {
    padding: 5px;
}

.main .content {
    min-height: 400px;
    margin: 20px;
    border-radius: 25px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 20px black inset ;
}

.clear {clear: both}

.main{
    clear: both;
    min-height: 400px;
}

nav {
    width: 800px;
    display: block;
    background: white;
    border-bottom: 2px brown solid;
}
nav * {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: block;
    margin: auto;
    width: 398px;
    float: left;
    list-style-type: none;
    border-right: 2px brown solid;
}

nav ul li:last-child {
    border-right: none;
}
nav li a {
    display: block;
    padding: 5px;
    font-size: 20pt;
    line-height: 50px;
    text-align: center;
    font-family: monospace;
}
h2 {font-family: Helvetica}

nav>ul>li:hover {
    background: #efa;
}

footer {
    padding: 0 20px 20px 0;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
}

.container {
    border: 4px dashed brown;
    margin: 50px auto;
    padding: 0 0;
    background: #ffd;
    width: 800px;
    box-shadow: 0 0 50px black;
};
body {
    width: 100%
};
